.contact {
    .contact-container {
        .contact-form {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            margin-right: 4rem;

            .form-name {
                display: flex;
                gap: 1.2rem;
            }

            .btn {
                width: max-content;
                margin-top: 1rem;
                cursor: pointer;
            }

            & input[type="text"] {
                width: 50%;
            }
        }
    }
}

input, textarea {
    width: 100%;
    padding: 1rem;
    background: $color-bg;
    color: $color-white;
    resize: none;
}