// Media Queries for Tablets

@media screen and (max-width: 1024px) {
    .contact {
        padding-bottom: 0;

        .contact-container {
            gap: 1.5rem;
            margin-top: 3rem;
            height: auto;
            padding: 1.5rem;

            .contact-aside {
                width: auto;
                padding: 1.5rem;
                bottom: 0;
            }

            .contact-form {
                align-self: center;
                margin-right: 1.5rem;
            }
        }
    }
}

// Media Queries for Phones

@media screen and (max-width: 600px) {
    .contact {
        
        .contact-container {
            grid-template-columns: 1fr;
            gap: 3rem;
            margin-top: 0;
            padding: 0;

            .contact-form {
                margin: 0 1.5rem 3rem;

                .form-name {
                    flex-direction: column;

                    input[type="text"] {
                        width: 100%;
                    }
                }
            }
        }
    }
}