// Media Queries for Tablets 

@media screen and (max-width: 1024px) {
    .branches-intro {
        margin-top: 2rem;

        .branches-intro-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 4rem;

            .branches-intro-left {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .branches-main {
        .card-container {
            .card {
                display: flex;
                height: 35rem;
                overflow: hidden;

                .card-image {
                    height: auto;
                    flex: 1;
                }

                .card-content {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}